*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.omotac{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 2fr 2fr;
    grid-template-areas: 
    "meni meni meni"
    "odabirVjezbe graf graf" 
    "odabirVjezbe graf graf"; 
}
#meni{
    background-color: aqua;
    grid-area: meni;
}
.klasa{
    display: inline;
}
ul{
    text-align: center;
    text-decoration: none;
    color:black;
    margin: 35px 0px 0px 0px;
}
.graf{
    background-color: rgb(98, 98, 172);
    grid-area: graf;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
#odabirVjezbe{
    background-color:tomato;
    grid-area: odabirVjezbe;
}
button{
    margin-top: 5px;
    padding:15px;
    width:100%;
}
input{
    font-size: 13px;
    width:14%;
    padding:5px;
    margin-top: 3px;
}
form{
    padding:5px;
}
img {
    width:100%;
    height: 100%;
}
@media (max-width:799px) {
    .omotac{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "meni"
        "odabirVjezbe" 
        "graf"
        "graf" "graf" "graf"; 
    }
    #meni{
        background-color: aqua;
        grid-area: meni;
    }
    #odabirVjezbe{
        background-color:tomato;
        grid-area: odabirVjezbe;
    }
    .graf{
        display: block;
        background-color:rgb(98, 98, 172);
        grid-area: graf;
    }
}