body{
    background:#efaeae;
}
input{
    width:300px;
    height: 30px;
    background-color:darkgray;
    border-radius: 5px;
    font-size: 15px;
}
button{
    margin-top: 7px;
    width: 60px;
}
#urlRep{
    width:100%;
}
#forma{
    width: 100%;
}
#polja{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}