   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

 .omotac{
      display: grid;
      height: 100vh;
      grid-gap: 1px;
      grid-template-columns: 59% 1fr;
      grid-template-rows: 100px 2fr;
      grid-template-areas: "meni meni"
      "studenti grupe";
  }
  #meni{
      display: inline;
      background-color: rgb(213, 231, 231);
      grid-area: meni;
  }
  #studenti{
      background-color: gray;
      grid-area: studenti;
  }
  #grupe{
      background-color: #efaeae;
      grid-area: grupe;
  }
  div{
  padding:1px;
  }
   table, td, th{
    border:1px solid black;
   }
   table{
       text-align: center;
       font-size: 20px;
       padding-left: 5px;
       padding-right:5px;
       padding-top:5px;
    width:100%;
    
   }
   .wrapper {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  padding:15px;
  grid-auto-flow: dense;
  text-align: center;
  width: 100%;
  }
  
  .kolona{
      border-radius: 10px;
      border: 1px solid black;

      background: rgb(155, 155, 161);
  }
  .red{
      padding: 10px;
  }
  ul{
      list-style-type: none;
   
  }
  li.klasa{
    float: left;
    margin-left: 1px;
}
  @media only screen and (min-width:500px) and (max-width: 799px)  {
    .omotac{
      display: grid;
      height: 100vh;
      grid-template-columns: 1fr;
      grid-template-rows: 0.7fr 2fr 2fr;
      grid-template-areas: "meni"
      "grupe" 
      "studenti";
  }
  li.klasa{
      float: left;
      margin-left: 1px;
  }
  #meni{
      background-color:rgb(213, 231, 231);
      grid-area: meni;
  }
  #studenti{
      background-color: gray;
      grid-area: studenti;
  }
  #grupe{
      background-color: #efaeae;
      grid-area: grupe;
     }
     #meni>li{
         display: inline;

         margin-left: 1px;
         padding:1px;
     }
     #meni>ul{
        display: inline;
        padding:1px;
        margin-left: 1px;
     }
  }
  @media only screen and (max-width: 499px) {
    .omotac{
      display: grid;
      height: 100vh;
      grid-template-columns: 1fr;
      grid-template-rows: 0.7fr 2fr 2fr;
      grid-template-areas: "meni"
      "grupe" 
      "studenti";
  }
  #meni{
     max-width:100%;
     max-height: 100%;
      background-color:rgb(213, 231, 231);
      grid-area: meni;
  }
  #studenti{
      background-color: gray;
      grid-area: studenti;
  }
  #meni>li{
    display: grid;
}
#meni>ul{
    display: grid;
}
  #grupe{
      background-color: #efaeae;
      grid-area: grupe;
     }
     ul,li{
       width:100%;
      display: grid;
      text-align: center;
      margin: 10px 0 0 0;
      padding-bottom: 10px;
      }
      a{
          width: 100%;
      }
      #meni ul{
          display: grid;
          padding:0px;
          margin: 0px;
      }
      #meni li{
        display: grid;
        padding:0px;
        margin: 0px;
    }
     .klasa{
        width: 100% !important;
    }
      td:first-child, th:first-child,td:nth-child(2),th:nth-child(2){
        display: none;
      border: none;
    }
  }
