body{
    background:#efaeae;
}
#vjezbe{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}
#odabirvjezbe{
    width: 100%;
}
#klasa{
    width: 100%;
}